{% extends 'blog/base.html' %}

{% block content %}
    <div class="column">
        {% if post.published_date %}
            <div class="date">
                <td><h1>{{ post.title }}<img src={{ post.photo}} width="100" height="75"></h1></td>
                <td><h1>Имя:</h1>{{ post.title }}</td>
                <td><h1>Вес:</h1>{{ post.weight }}</td>
                <td><h1>Пол:</h1>{{ post.gender }}</td>
                <td><h1>Таланты:</h1>{{ post.talants }}</td>
                <td><h1>Тип:</h1>{{ post.type }}</td>

        {% endif %}
    <br>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    </div>
{% endblock %}


